<div class="vtbox vtbox-animate" ng-show="veasyToastr.stack && veasyToastr.stack.length > 0" ng-style="{'width': config.width + 'px'}">
  <div class="vtbox-item vtbox-animate" ng-class="notification.type" ng-style="{'background-color': notification.style.backgroundColor}" ng-repeat="notification in veasyToastr.stack">
    <div ng-if="notification.showIcon" class="vtbox-area-icon">
      <i class="fa {{notification.icon}}" ng-style="{'color': notification.style.icon.color}"></i>
    </div>
    <div class="vtbox-area-text">
      <div class="vtbox-text-title">
        <i ng-if="notification.close" ng-click="close(notification)" class="fa fa-times pull-right vtbox-close" ng-style="{'font-size': notification.style.close.fontSize + 'px', 'color': notification.style.close.color}"></i>
        <span class="vtbox-title" ng-style="{'font-size': notification.style.title.fontSize + 'px', 'color': notification.style.title.color}">{{notification.title}}</span>
      </div>
      <div class="vtbox-text-message">
        <span class="vtbox-message" ng-style="{'font-size': notification.style.message.fontSize + 'px', 'color': notification.style.message.color}">
          <span ng-if="notification.sanitize">{{notification.message}}</span>
          <span ng-if="!notification.sanitize" ng-bind-html="notification.message"></span>
        </span>
      </div>
    </div>
  </div>
</div>
